.Dialog__message {
    display: grid;
    grid-auto-flow: column;
    justify-items: start;
    justify-content: start;
    gap: 15px;
}

.Dialog__message__avatar {
    display: grid;
    justify-items: center;
    align-items: start;
    align-content: center;
    width: 91px;
    height: 71px;
    text-align: center;

}

.Dialog__message__avatar__img {
    height: 50px;
    border: 1px solid #000
}

.Dialog__message__text {
    border: 1px solid #000;
    padding: 10px;
    max-width: 320px;
    width: 60vw;
}