.main__dialogs {
    display: grid;
    gap: 15px;
    align-content: start;
    background-color: antiquewhite;
    padding: 20px;
    width: 240px;
    height: 100%;

    @media (max-width: 776px) {
      width: 100vw;
      padding: 5px;
    }
}

.dialog-item-wrappr {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  padding-bottom: 8px;
  border-radius: 0;
}


.dialogs__item {
  position: relative;
  left: 15px;
}

.dialogs__item-avatar {
  height: 35px;
}

.main__dialogs .linkBtn {
  color: #000;
}
.main__dialogs .linkBtn:hover {
  color: rgba(0,0,0, .5)
}

.dialogs__item--active {
  font-size: 21px;
  font-weight: 500;
}
