.profileSettings {
  display: grid;
  gap: 50px;
  @media (max-width: 776px) {
    gap: 30px;
  }
}
.title {
  font-weight: 600;
  font-size: 19px;
}

.DND {
  width: 200px;
  height: 200px;
  display: grid;
  gap: 5px;
  padding: 5px;

  @media (max-width: 776px) {
    height: 10px;
  }
}

.dropAreaT{
  border: 2px solid #000;
  width: 200px;
  height: 200px;
  text-align: center;
  display: grid;
  align-items: center;
}

.dropAreaF {
  border: 2px dashed #000;
  width: 200px;
  height: 200px;
  text-align: center;
  display: grid;
  align-items: center;
}