.main__Dialog {
    display: grid;
    align-content: space-evenly;
    align-content: flex-end;
    gap: 30px;
    padding: 30px;
    width: 539px;
    height: 100%;
}


.DialogWrapp {
    background-color: blanchedalmond;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;

}
